<ul class="jnl-toasts">
  <li class="jnl-toast">
    Lorem ipsum dolor sit amet.
  </li>

  <li class="jnl-toast--information">
    <i class="jnl-icon">info</i>Lorem ipsum dolor sit amet.
  </li>

  <li class="jnl-toast--success">
    <i class="jnl-icon">check_circle</i>Lorem ipsum dolor sit amet.
  </li>

  <li class="jnl-toast--warning">
    <i class="jnl-icon">warning</i>Lorem ipsum dolor sit amet.
  </li>
</ul>
