<div class="jnl-layout__contents__pages jsc-jnl-layout__pane">
  <h2 class="jnl-layout__contents__pages__headline">Lorem ipsum</h2>
  <!-- TODO: WIP...
  <menu class="jnl-layout__contents__pages__toolbar">
    <button>Foo</button>
    <button>Bar</button>
    <button>Buz</button>
  </menu>
  <label class="jnl-layout__contents__pages__search">
    <i class="jnl-icon">search</i>
    <input type="text" placeholder="Type keywords...">
  </label>
  -->

  <div class="jnl-layout__contents__pages__list jsc-jnl-layout__contents__pages__list">
    <h3 class="jnl-layout__contents__pages__list__headline">Lorem Ipsum</h3>
    <ul>
      <li><a data-pane-href="demo-pane-second">Lorem ipsum</a></li>
      <li><a data-pane-href="demo-pane-second">Dolor sit amet</a></li>
      <li><a data-pane-href="demo-pane-second">Consectetur adipisicing</a></li>
    </ul>
  </div>
</div>
