<!-- 'jnl-layout__footer' or 'jnl-layout__footer--center' or 'jnl-layout__footer--right' available. -->
<footer class="jnl-layout__footer--right">
  <nav>
    <ul class="jnl-layout__footer__list">
      <li class="jnl-layout__footer__list__item">
        <a href="#">Lorem ipsum</a>
      </li>
      <li class="jnl-layout__footer__list__item">
        <a href="#">Dolor sit amet</a>
      </li>
      <li class="jnl-layout__footer__list__item">
        <a href="#">Consectetur adipisicing elit</a>
      </li>
    </ul>
  </nav>
</footer>
