<div data-pane-target="demo-pane-second" class="jnl-layout__contents__pages jsc-jnl-layout__pane">
  <h2 class="jnl-layout__contents__pages__headline jsc-layout__pane__headline">Lorem ipsum</h2>

  <!-- TODO: WIP...
  <menu class="jnl-layout__contents__pages__toolbar">
    <button>Foo</button>
    <button>Bar</button>
    <button>Buz</button>
  </menu>
  <label class="jnl-layout__contents__pages__search">
    <i class="jnl-icon">search</i>
    <input type="text" placeholder="Type keywords...">
  </label>
  -->

  <div class="jnl-layout__contents__items">
    <ul>
      <li><a data-pane-href="demo-pane-third">
        <label class="jnl-layout__contents__items__label--primary">WIP</label>
        <strong class="jnl-layout__contents__items__title">Elit sed do</strong>
        <small class="jnl-layout__contents__items__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
      </a></li>
      <li><a data-pane-href="demo-pane-third">
        <label class="jnl-layout__contents__items__label">TODO</label>
        <label class="jnl-layout__contents__items__label--invalid">Warning</label>
        <label class="jnl-layout__contents__items__label--success">Done</label>
        <strong class="jnl-layout__contents__items__title">Eiusmod tempor</strong>
        <small class="jnl-layout__contents__items__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
      </a></li>
      <li><a data-pane-href="demo-pane-third">
        <strong class="jnl-layout__contents__items__title">Incididunt ut labore</strong>
        <small class="jnl-layout__contents__items__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
      </a></li>
    </ul>
  </div>
</div>
