<header class="jnl-layout__header">
  <ul class="jnl-layout__header__list">
    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">account_box</i>
        <span>Menu 1</span>
      </a>
    </li>

    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">book</i>
        <span>Menu 2</span>
      </a>
    </li>

    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">code</i>
        <span>Menu 3</span>
      </a>
    </li>

    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">done</i>
        <span>Menu 4</span>
      </a>
    </li>

    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">event</i>
        <span>Menu 5</span>
      </a>
    </li>
  </ul>

  <ul class="jnl-layout__header__list--bottom">
    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">zoom_in</i>
        <span>Menu 99</span>
      </a>
    </li>
  </ul>
</header>
