<ul class="jnl-toasts">
  <li class="jnl-toast jsc-jnl-toast">
    Lorem ipsum dolor sit amet.
  </li>

  <li class="jnl-toast--information jsc-jnl-toast">
    <i class="jnl-icon">info</i>Lorem ipsum dolor sit amet.
  </li>

  <li class="jnl-toast--success jsc-jnl-toast">
    <i class="jnl-icon">check_circle</i>Lorem ipsum dolor sit amet.
  </li>

  <li class="jnl-toast--warning jsc-jnl-toast">
    <i class="jnl-icon">warning</i>Lorem ipsum dolor sit amet.
  </li>
</ul>
