<div class="jnl-layout__contents__pages">
  <h2 class="jnl-layout__contents__pages__headline">Lorem ipsum</h2>
  <menu class="jnl-layout__contents__pages__toolbar">
    <button>Foo</button>
    <button>Bar</button>
    <button>Buz</button>
  </menu>
  <label class="jnl-layout__contents__pages__search">
    <i class="jnl-icon">search</i>
    <input type="text" placeholder="Type keywords...">
  </label>

  <div class="jnl-layout__contents__pages__list">
    <h3 class="jnl-layout__contents__pages__list__headline">Lorem Ipsum</h3>
    <ul>
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">Dolor sit amet</a></li>
      <li><a href="#">Consectetur adipisicing</a></li>
    </ul>
  </div>

  <div class="jnl-layout__contents__pages__list">
    <h3 class="jnl-layout__contents__pages__list__headline">Lorem Ipsum</h3>
    <ul>
      <li><a href="#">Elit sed do</a></li>
      <li><a href="#">Eiusmod tempor</a></li>
      <li><a href="#">Incididunt ut labore</a></li>
    </ul>
  </div>
</div>
