<header class="jnl-layout__header">

  <!-- 'jnl-layout__header__list' or 'jnl-layout__header__list--right' available. -->
  <ul class="jnl-layout__header__list">
    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">account_box</i>
        <span>Menu 1</span>
      </a>
    </li>

    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">book</i>
        <span>Menu 2</span>
      </a>
    </li>

    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">code</i>
        <span>Menu 3</span>
      </a>
    </li>
  </ul>

  <!-- '--right' class would be set it the right on header. -->
  <ul class="jnl-layout__header__list--right">
    <li class="jnl-layout__header__list__item">
      <a href="#">
        <i class="jnl-icon">zoom_in</i>
        <span>Menu 99</span>
      </a>
    </li>
  </ul>
</header>
