<div class="jnl-layout__contents__pages jsc-jnl-layout__pane">
  <h2 class="jnl-layout__contents__pages__headline">Lorem ipsum</h2>

  <menu class="jnl-layout__contents__pages__toolbar">
    <button>Foo</button>
    <button>Bar</button>
    <button>Buz</button>
  </menu>

  <div class="jnl-layout__contents__pages__list jsc-jnl-layout__contents__pages__list">
    <h3 class="jnl-layout__contents__pages__list__headline">Lorem Ipsum</h3>
    <ul>
      <!-- 'data-pane-href' property is related to 'data-pane-target' property. -->
      <li><a data-pane-href="demo-pane-second">Lorem ipsum</a></li>
      <li><a data-pane-href="demo-pane-second">Dolor sit amet</a></li>
      <li><a data-pane-href="demo-pane-third">Consectetur adipisicing</a></li>
    </ul>
  </div>
</div>
