<% include ../../resources/components/_variables.ejs %>

<% include ../../resources/components/_head.ejs %>

<div class="jnl-wrapper">
  <!-- Opened => .jnl-navigation--opened -->
  <nav class="jnl-navigation">
    <h1 class="jnl-navigation__title">Lorem Ipsum</h1>

    <ul class="jnl-navigation__list">
      <!-- Active => .jnl-navigation__list__item--active -->
      <li class="jnl-navigation__list__item">
        <a href="#">
          <i class="jnl-icon jnl-icon--darkbg">account_box</i>
          <span>Menu 1</span>
        </a>
      </li>

      <li class="jnl-navigation__list__item">
        <a href="#">
          <i class="jnl-icon jnl-icon--darkbg">book</i>
          <span>Menu 2</span>
        </a>
      </li>

      <li class="jnl-navigation__list__item">
        <a href="#">
          <i class="jnl-icon jnl-icon--darkbg">code</i>
          <span>Menu 3</span>
        </a>
      </li>

      <li class="jnl-navigation__list__item">
        <a href="#">
          <i class="jnl-icon jnl-icon--darkbg">done</i>
          <span>Menu 4</span>
        </a>
      </li>

      <li class="jnl-navigation__list__item">
        <a href="#">
          <i class="jnl-icon jnl-icon--darkbg">event</i>
          <span>Menu 5</span>
        </a>
      </li>
    </ul>

    <ul class="jnl-navigation__list--bottom">
      <li class="jnl-navigation__list__item">
        <a href="#">
          <i class="jnl-icon jnl-icon--darkbg">zoom_in</i>
          <span>Menu 99</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="jnl-layout">
    <header class="jnl-layout__header">
      <ul class="jnl-layout__header__list">
        <li class="jnl-layout__header__list__item">
          <a href="#">
            <i class="jnl-icon">account_box</i>
            <span>Menu 1</span>
          </a>
        </li>

        <li class="jnl-layout__header__list__item">
          <a href="#">
            <i class="jnl-icon">book</i>
            <span>Menu 2</span>
          </a>
        </li>

        <li class="jnl-layout__header__list__item">
          <a href="#">
            <i class="jnl-icon">code</i>
            <span>Menu 3</span>
          </a>
        </li>

        <li class="jnl-layout__header__list__item">
          <a href="#">
            <i class="jnl-icon">done</i>
            <span>Menu 4</span>
          </a>
        </li>

        <li class="jnl-layout__header__list__item">
          <a href="#">
            <i class="jnl-icon">event</i>
            <span>Menu 5</span>
          </a>
        </li>
      </ul>

      <ul class="jnl-layout__header__list--bottom">
        <li class="jnl-layout__header__list__item">
          <a href="#">
            <i class="jnl-icon">zoom_in</i>
            <span>Menu 99</span>
          </a>
        </li>
      </ul>
    </header>

    <main class="jnl-layout__contents">
      <div class="jnl-layout__contents__pages">
        <h2 class="jnl-layout__contents__pages__headline">Lorem ipsum</h2>
        <menu class="jnl-layout__contents__pages__toolbar">
          <button>Foo</button>
          <button>Bar</button>
          <button>Buz</button>
        </menu>
      </div>
    </main>

    <footer class="jnl-layout__footer--right">
      <nav>
        <ul class="jnl-layout__footer__list">
          <li class="jnl-layout__footer__list__item">
            <a href="#">Lorem ipsum</a>
          </li>
          <li class="jnl-layout__footer__list__item">
            <a href="#">Dolor sit amet</a>
          </li>
          <li class="jnl-layout__footer__list__item">
            <a href="#">Consectetur adipisicing elit</a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
</div>

<script src="./assets/scripts/bundle.js"></script>
