<header>
  <h1><%= $g.title %></h1>
  <figure>
    <i class="jnl-icon">view_column</i>
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
  </figure>

  <nav>
    <ul>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
      <li><a>...</a></li>
    </ul>

    <ul>
      <li><a>Download via Github</a></li>
      <li><a>Install via NPM</a></li>
    </ul>
  </nav>
</header>
