// For block elements.
$cs-wrapper__width: 960px;
$cs-header__height: 50px;
$cs-navigation__width: 50px;
$cs-navigation__width--opened: 200px;
$cs-pages__list__width: 300px;
$cs-pages__list__text-height: 50px;
$cs-footer__height: 50px;


// For base colours.
$basecolor--primary: #005A96;
// TODO: decide colour
$basecolor--secondary: purple;
// TODO: decide colour
$basecolor--valid: green;
// TODO: decide colour
$basecolor--invalid: red;


// For foreground colours.
$fgcolor--normal: #222222;
$fgcolor--midpriority: #666666;
$fgcolor--lowpriority: #AAAAAA;
$fgcolor--darkbg: #FFFFFF;
$fgcolor--primary: #175680;
$fgcolor--secondary: $basecolor--secondary;
$fgcolor--valid: $basecolor--valid;
$fgcolor--invalid: $basecolor--invalid;
$fgcolor__link: #0079C9;


// For background colours.
$bgcolor--normal: #FFFFFF;
$bgcolor--darkbg: #222222;
$bgcolor--valid: $basecolor--valid;
$bgcolor--invalid: $basecolor--invalid;
$bgcolor--primary: $basecolor--primary;
$bgcolor__overlay__base: #000000;

// For background colours for buttons.
$bgcolor__button--hovered: #F9F9F9;
$bgcolor__button--primary--hovered: #0A77BF;
$bgcolor__button--secondary: $basecolor--secondary;
$bgcolor__button--secondary--hovered: lighten($bgcolor__button--secondary, 10%);
$bgcolor__button--warning--hovered: lighten($bgcolor--invalid, 10%);
$bgcolor__button--disabled: #CCCCCC;
$bgcolor__button--disabled--hovered: #DDDDDD;


// For border colours.
$bdcolor--normal: #E9EFF6;
$bdcolor--darkbg: #FFFFFF;
$bdcolor--primary: $basecolor--primary;
$bdcolor--secondary: $basecolor--secondary;
$bdcolor--valid: $basecolor--valid;
$bdcolor--invalid: $basecolor--invalid;


// For border styles.
$bdradius--normal: 2px;
$bdradius--circle: 100%;


// For duration animations
$duration--normal: 300ms;
$duration__appearance: 450ms;
$duration__animation: 900ms;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
