.jnl-wrapper {
  width: $cs-wrapper__width;
  margin: 0 auto;
}


@import './_cs-modules__buttons.scss';


.jnl-font--midpriority { color: $fgcolor--midpriority; }
.jnl-font--lowpriority { color: $fgcolor--lowpriority; }
.jnl-font--primary { color: $fgcolor--primary; }
.jnl-font--success { color: $fgcolor--valid; }
.jnl-font--warning { color: $fgcolor--invalid; }


.jnl-icon {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: -6px;
  text-transform: none;
  font-family: 'Material Icons';
  font-size: 24px;

  &.jnl-icon--darkbg {
    color: $fgcolor--darkbg;
  }
}


.jnl-notifications {
  border: 1px solid $bdcolor--normal;
  background-color: $bgcolor--normal;
  // TODO: this component style is WIP
}


@import './_cs-modules__form-fields.scss';


.jnl-table {
  width: 100%;
  border-collapse: collapse;

  thead, tfoot {
    th, td {
      text-align: center;
      background-color: #EFEFEF;
    }
  }

  tbody {
    th {
      text-align: right;
    }

    td {
      text-align: left;
    }
  }

  th, td {
    padding: 6px 8px;
    border: 1px solid $bdcolor--normal;
  }

  .jnl-table__cell--left {
    text-align: left;
  }

  .jnl-table__cell--center {
    text-align: center;
  }

  .jnl-table__cell--right {
    text-align: right;
  }
}
