body {
  background-color: #EFEFEF;
}

/**
 * Navigation
**/
.jnl-navigation {
  z-index: 999 + 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $cs-navigation__width;
  background-color: #14324F;
  background-image: linear-gradient(to bottom, #2867A1, #14324F);
  transition: width $duration__appearance $ease-out-expo;
}

.jnl-navigation--opened {
  width: $cs-navigation__width--opened;
}

.jnl-navigation__title {
  white-space: nowrap;
  color: rgba($fgcolor--darkbg, 0);
  transition: color $duration__appearance $ease-out-expo;

  &:first-letter {
    color: rgba($fgcolor--darkbg, 1);
  }
}

.jnl-navigation--opened .jnl-navigation__title {
  color: rgba($fgcolor--darkbg, 1);
}

.jnl-navigation__list--bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.jnl-navigation__list__item {
  overflow: hidden;
  height: $cs-navigation__width;
  white-space: nowrap;
  transition: background-color $duration--normal $ease-out-expo;

  &:hover, &:focus {
    background-color: #2D74B5;
  }

  > a {
    display: block;
    font-weight: bold;
    text-decoration: none;

    > .jnl-icon {
      width: $cs-navigation__width;
      height: $cs-navigation__width;
    }

    > span {
      color: $fgcolor--darkbg;
    }
  }
}

.jnl-navigation__list__item--active {
  background-color: #14324F;
}

/**
 * Main Layout
**/


/**
 * Main Layout __ Header
**/
.jnl-layout__header {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: $cs-navigation__width;
  display: flex;
  height: $cs-header__height;
  background-color: $bgcolor--normal;
  box-shadow: 0 1px 6px 0 rgba(51,51,51, 0.4);
  transition: left $duration__appearance $ease-out-expo;
}

.jnl-navigation--opened + .jnl-layout {
  .jnl-layout__header {
    left: $cs-navigation__width--opened;
  }
}

.jnl-layout__header__list,
.jnl-layout__header__list--bottom {
  display: flex;
  height: 100%;
}

.jnl-layout__header__list--bottom {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.jnl-layout__header__list__item {
  > a {
    display: block;
    line-height: $cs-header__height;
    text-decoration: none;
    transition: background-color $duration--normal $ease-out-expo;

    &:hover {
      background-color: #EEF1F6;
    }
  }
}

/**
 * Main Layout __ Footer
**/
.jnl-layout__footer,
.jnl-layout__footer--center,
.jnl-layout__footer--right {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  left: $cs-navigation__width;
  display: flex;
  height: $cs-footer__height;
  background-color: #14324F;
  transition: left $duration__appearance $ease-out-expo;
}

.jnl-navigation--opened + .jnl-layout {
  .jnl-layout__footer,
  .jnl-layout__footer--center,
  .jnl-layout__footer--right {
    left: $cs-navigation__width--opened;
  }
}

.jnl-layout__footer--center {
  justify-content: center;
}

.jnl-layout__footer--right {
  justify-content: flex-end;
}

.jnl-layout__footer__list {
  display: flex;
}

.jnl-layout__footer__list__item {
  padding-top: 15px;

  > a {
    color: $fgcolor--darkbg;

    &:hover {
      text-decoration: none;
    }
  }
}

/**
 * Main Layout __ Contents
**/
.jnl-layout__contents {
  z-index: 99;
  position: absolute;
  top: $cs-header__height;
  right: 0;
  bottom: $cs-footer__height;
  left: $cs-navigation__width;
  transition: left $duration__appearance $ease-out-expo;
}

.jnl-navigation--opened + .jnl-layout {
  .njl-layout__contents {
    left: $cs-navigation__width--opened;
  }
}

.jnl-layout__contents__pages {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $cs-pages__list__width;
  height: auto;
  background-color: #F6F6F6;
  box-shadow: -3px 0 10px 1px rgba(51,51,51, 0.2);

  + .jnl-layout__contents__pages,
  .jnl-layout__contents__pages {
    left: $cs-pages__list__width;
  }
}

.jnl-layout__contents__pages__headline {
  height: $cs-pages__list__text-height;
  background-color: $bgcolor--normal;
}

.jnl-layout__contents__pages__toolbar,
.jnl-layout__contents__pages__toolbar--center,
.jnl-layout__contents__pages__toolbar--right {
  display: flex;
  height: $cs-pages__list__text-height;
  background-color: #EDF1F4;
  transition: background-color $duration--normal $ease-out-expo;

  > a,
  > button {
    min-width: $cs-navigation__width;
    font-size: 14px;
    color: #175680;

    &:hover {
      background-color: #F4F6F8;
    }
  }
}

.jnl-layout__contents__pages__toolbar--center {
  justify-content: center;
}

.jnl-layout__contents__pages__toolbar--right {
  justify-content: flex-end;
}

.jnl-layout__contents__pages__search {
  display: block;
  position: relative;

  > .jnl-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  > input {
    display: block;
    width: 100%;
    height: $cs-pages__list__text-height;
    line-height: $cs-pages__list__text-height;
  }
}

.jnl-layout__contents__pages__list {
  border-top: 1px solid $bdcolor--normal;
  background-color: $bgcolor--normal;

  a {
    display: block;
    height: $cs-pages__list__text-height;
    transition: background-color $duration--normal $ease-out-expo;

    &:hover {
      background-color: #EBF2F6;
    }
  }
}

.jnl-layout__contents__pages__list__headline {
  height: $cs-pages__list__text-height;
}

.jnl-layout__contents__article {
  z-index: 999;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 850px;
  background-color: #F6F6F6;
  box-shadow: -3px 0 10px 1px rgba(51,51,51,.2);
}

.jnl-layout__contents__article__header {
  height: $cs-pages__list__text-height;
  background-color: $bgcolor--normal;
}

.jnl-layout__contents__article__sections {
  padding: 20px;
  border-top: 1px solid $bdcolor--normal;
}

.jnl-layout__contents__article__sections__headline {
  height: $cs-pages__list__text-height;
  border-bottom: 1px solid $bdcolor--normal;
}

.jnl-layout__contents__article__sections__section {
  margin-top: 20px;
  padding: 0 20px 20px;
  border: 1px solid $bdcolor--normal;
  background-color: $bgcolor--normal;
}
